[Unit]
Description=Initialize Odin M2 touchscreen after display startup
Wants=sway.service
After=sway.service
ConditionKernelCommandLine=!installer

[Service]
Type=oneshot
ExecStart=/usr/bin/odin-touch-init
TimeoutStartSec=40
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
